workflows.json
{
  "name": "PostPilot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8,14,20 * * *"
            }
          ]
        }
      },
      "id": "cron-generate",
      "name": "Cron (Generate)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://postpilot-production-c051.up.railway.app/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "time_of_day",
              "value": "={{ $now.hour < 12 ? 'morning' : ($now.hour < 18 ? 'afternoon' : 'night') }}"
            }
          ]
        }
      },
      "id": "generate",
      "name": "Generate Tweet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        200
      ]
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "wait",
      "name": "Wait (Agent Processing)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://postpilot-production-c051.up.railway.app/api/status?id=' + $json.jobId }}"
      },
      "id": "status",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        860,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "861708547",
        "text": "=🚀 New X Post Draft\n---\nDraft: {{ $json.draft }}\nScore: {{ $json.score }}/10\n---",
        "additionalFields": {
          "reply_markup": "={{ JSON.stringify({\n  \"inline_keyboard\": [\n    [{ \"text\": \"🚀 Open in X\", \"url\": ($json.intentUrl || 'https://twitter.com') }]\n  ]\n}) }}"
        }
      },
      "id": "telegram",
      "name": "Telegram (Notification)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1080,
        200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "id": "cron-retry",
      "name": "Cron (Retry Queue)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://postpilot-production-c051.up.railway.app/api/retries/process"
      },
      "id": "retry",
      "name": "Process Retries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        420
      ]
    }
  ],
  "connections": {
    "Cron (Generate)": {
      "main": [
        [
          {
            "node": "Generate Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Tweet": {
      "main": [
        [
          {
            "node": "Wait (Agent Processing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Agent Processing)": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Telegram (Notification)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron (Retry Queue)": {
      "main": [
        [
          {
            "node": "Process Retries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}