workflows.json
{
  "name": "PostPilot (X AI Agent)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8,14,20 * * *"
            }
          ]
        }
      },
      "id": "1d8ea8f3-42e1-4564-9076-26fbbeb265e3",
      "name": "Cron (Generate)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BASE_URL }}/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "time_of_day",
              "value": "={{ $now.hour < 12 ? 'morning' : ($now.hour < 18 ? 'afternoon' : 'night') }}"
            },
            {
              "name": "callbackUrl",
              "value": "https://YOUR_N8N_INSTANCE.app/webhook/tweet-ready"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "78bda043-34e8-4228-b8bc-a887b64f9e1e",
      "name": "Generate Tweet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tweet-ready",
        "options": {}
      },
      "id": "c0ffee-webhook-id",
      "name": "Webhook (Tweet Ready)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        500
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🚀 <b>New X Post Draft - {{ $json.body.topic }}</b>\n---\n<b>Draft:</b>\n<pre><code>{{ $json.body.htmlDraft || $json.body.draft }}</code></pre>\n\n<b>Time:</b> {{ $json.body.time_of_day || 'Not set' }}\n<b>Score:</b> {{ $json.body.score || 0 }}/10\n---",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "={{ JSON.stringify({\n  \"inline_keyboard\": [\n    [{ \"text\": \"🚀 Open in X\", \"url\": ($json.body.intentUrl || 'https://twitter.com') }],\n    [{ \"text\": \"✏️ Edit Topic\", \"url\": ($json.body.editUrl || 'https://twitter.com') }],\n    [{ \"text\": \"💬 Feedback\", \"url\": ($json.body.feedbackUrl || 'https://twitter.com') }],\n    [\n      { \"text\": \"✅ Posted\", \"callback_data\": \"pc:\" + ($json.body.tweet_id || '') + \":\" + (($json.body.token || '').substring(0, 8)) },\n      { \"text\": \"📋 Copy\", \"callback_data\": \"ct:\" + ($json.body.tweet_id || '') + \":\" + (($json.body.token || '').substring(0, 8)) }\n    ]\n  ]\n}) }}"
        }
      },
      "id": "18991a0c-66f8-450f-a950-c8b1da0c5cf5",
      "name": "Telegram (Notification)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        420,
        500
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "id": "b9ebda7e-bc86-4bed-aec9-6dbd08794c48",
      "name": "Cron (Retry Queue)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        750
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BASE_URL }}/api/retries/process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "b6f00f07-de80-4911-aa9b-5fb8995aeeef",
      "name": "Process Retries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        750
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Cron (Generate)": {
      "main": [
        [
          {
            "node": "Generate Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron (Retry Queue)": {
      "main": [
        [
          {
            "node": "Process Retries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Tweet Ready)": {
      "main": [
        [
          {
            "node": "Telegram (Notification)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7d383b1-a6b1-460d-9bcf-168a6fcfcefc",
  "meta": {
    "instanceId": "e1f13ce599b45610815467ec6b66ddb48"
  },
  "tags": []
}